@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

div.grassy {
    max-width:100%;
    content:url(/images/grassy.png);
}
div.baddy {
    max-width:100%;
    content:url(/images/baddy.png);
}
div.swampy {
    max-width:100%;
    content:url(/images/swampy.png);
}
.name {
    font-family: "Open Sans", sans-serif;
    color: rgb(68, 0, 48);
    text-transform: uppercase;
    font-size: 3vmin;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: rgb(237, 237, 237) 3px 2px 0px;
    position: relative;
    text-decoration: none;
}
.mob {
    font-family: "Open Sans", sans-serif;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    font-size: 3vmin;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: rgb(237, 237, 237) 3px 2px 0px;
    position: relative;
    text-decoration: none;
}
.thlevel {
    font-family: "Open Sans", sans-serif;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    font-size: 3vmin;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: rgb(237, 237, 237) 3px 2px 0px;
    position: relative;
    text-decoration: none;
}
