div.grassy {
    max-width:100%;
    content:url(/images/grassy.png);
}
div.baddy {
    max-width:100%;
    content:url(/images/baddy.png);
}
div.swampy {
    max-width:100%;
    content:url(/images/swampy.png);
}
div.mob04 {
    max-width:100%;
    content:url(/images/04.png);
}
div.mob05 {
    max-width:100%;
    content:url(/images/05.png);
}
div.mob06 {
    max-width:100%;
    content:url(/images/06.png);
}
div.mob07 {
    max-width:100%;
    content:url(/images/07.png);
}
div.mob08 {
    max-width:100%;
    content:url(/images/08.png);
}
div.mob09 {
    max-width:100%;
    content:url(/images/09.png);
}
div.mob10 {
    max-width:100%;
    content:url(/images/010.png);
}
div.mob11 {
    max-width:100%;
    content:url(/images/011.png);
}
div.mob12 {
    max-width:100%;
    content:url(/images/012.png);
}
div.th15 {
    max-width:100%;
    content:url(/images/15.png);
}
div.th16 {
    max-width:100%;
    content:url(/images/16.png);
}
div.th17 {
    max-width:100%;
    content:url(/images/17.png);
}
div.th18 {
    max-width:100%;
    content:url(/images/18.png);
}
div.th19 {
    max-width:100%;
    content:url(/images/19.png);
}
div.th20 {
    max-width:100%;
    content:url(/images/20.png);
}
div.th21 {
    max-width:100%;
    content:url(/images/21.png);
}
div.th22 {
    max-width:100%;
    content:url(/images/22.png);
}
div.th23 {
    max-width:100%;
    content:url(/images/23.png);
}
div.th24 {
    max-width:100%;
    content:url(/images/24.png);
}
div.th25 {
    max-width:100%;
    content:url(/images/25.png);
}
div.th26 {
    max-width:100%;
    content:url(/images/26.png);
}
